a {
    text-decoration: none;
    color: #ffffff;
    outline: none;
}

a:hover {
    color: #ffc000;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cb {
    clear: both;
}

body {
    background-image: url("../images/background.png");
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#black_stripe {
    background-color: #000000;
    height: 28px;
    width: 100%;
}

div.content {
    margin: 0 auto;
    width: 981px;
}

ul.links {
    padding-top: 4px;
}

ul.links li {
    display: inline;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    margin-right: 34px;
}

div.white_stripe {
    width: 100%;
    background-color: #ffffff;
}

div#header {
    background-image: url("../images/horse.png");
    background-repeat: no-repeat;
    height: 145px;
    position: relative;
}

div#header h1 {
    font-size: 37px;
    color: #3793c7;
    font-weight: bold;
    position: absolute;
    left: 207px;
    top: 44px;
}

div#header h6 {
    color: #3793c7;
    font-size: 16px;
    position: absolute;
    left: 414px;
    top: 92px;
}

a#follow_me {
    position: absolute;
    left: 711px;
    top: 92px;
    display: inline-block;
}

a#button_quote {
    background-color: #1092e6;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    position: absolute;
    width: 138px;
    height: 25px;
    top: 46px;
    left: 817px;
    padding-top: 8px;
}

a#button_facebook {
    background-image: url("../images/facebook.png");
    background-repeat: no-repeat;
    height: 36px;
    width: 119px;
    display: inline-block;
    position: absolute;
    left: 837px;
    top: 88px;
}

div#menu {
    height: 50px;
    width: 981px;
    border-bottom: 1px solid;
    border-color: #ffffff;
    padding-bottom: 5px;
}

div#menu ul {
    padding-top: 13px;
}

div#menu ul li {
    display: inline-block;
    color: #ffffff;
    background-image: url("../images/punktom.gif");
    background-repeat: no-repeat;
    padding-left: 31px;
    line-height: 30px;
    padding-right: 12px;
    font-size: 15px;
}

div#menu ul li:first-child {
    background-image: none;
    margin-left: -28px;
}

div#menu ul li:last-child {
    padding-right: 0;
}

div#box {
    margin-top: 10px;
}

div.offer {
    width: 245px;
    float: left;
    background-image: url("../images/box_background.png");
    background-repeat: repeat-y;
}

div.offer img {
    display: none;
}

div.offer a:first-child {
    outline: none;
    display: block;
height: 365px;
    }

h2 {
    color: #ffc000;
    font-size: 23px;
    margin: 5px 0 0 13px;
    line-height: 27px;
}

h4 {
    color: #ffffff;
    font-size: 11px;
    line-height: 20px;
    margin: 0 0 10px 13px;
}



div#small_boxes {
    width: 981px;
}

div.small_boxes {
    margin: 30px 8px 0 0;
    float: left;
}

div.small_boxes a {
    text-decoration: none;
    color: #ffc000;
}

h2.box {
    font-size: 19px;
    text-align: center;
}

div#left_column {
    width: 485px;
    height: 380px;
    background-color: #464646;
    margin-top: 19px;
    float: left;
    overflow: hidden;
}

div#left_column a {
    text-decoration: none;
    color: #ffc000;
}

h2.project {
    color: #ffc000;
    font-size: 23px;
    margin: 35px 0 0 13px;
}

hr {
    color: #ffffff;
    width: 95%;
    text-align: center;
}

h3 {
    color: #ffc000;
    font-size: 18px;
    margin: 43px 0 0 7px;
}

span {
    color: #ffc000;
    font-size: 18px;
    float: right;
    margin: 0 15px 7px 0;
}

span.link a {
    font-size: 10px;
    color: #ffc000;
}

span.link a:visited {
    color: #ffc000;
}

p {
    color: #ffffff;
    line-height: 24px;
    margin: 7px 15px 0 7px;
    text-align: justify;
    font-size: 14px;
}

div#right_column {
    background-color: #464646;
    width: 485px;
    height: 380px;
    margin-top: 19px;
    float: right;
    overflow: hidden;
}

div#right_column img {
    float: left;
    margin: 7px 10px 0 9px;
}

div#right_column p {
    margin-top: 26px;
    text-align: justify;
}

div.space {
    margin-top: 50px;
    padding-bottom: 15px;
    min-height: 190px;
}

ul.lists li a {
    color: #383736;
    text-decoration: none;
    line-height: 27px;
}

ul.lists li a:hover {
    color: #ffc000;
}

img.spliter {
    margin-left: 21px;
}

div#examples div {
    width: 259px;
    float: left;
    padding-top: 21px;
    background-image: url("../images/spliter.png");
    background-repeat: no-repeat;
    background-position: 0 20px;
}

div#examples div ul {
    margin: 10px 0 0 65px;
    font-size: 15px;
}

div#examples h2 {
    text-align: center;
    font-size: 19px;
}

div#examples div:first-child {
    background: none;
    margin-left: -55px;
}

div.group:before,
div.group:after {
    content: "";
    display: table;
}

div.group:after {
    clear: both;
}

div.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

div#footer {
    margin: 0 auto;
    width: 748px;
    height: 50px;
}

div.footer_content {
    margin-top: 20px;
}

div.footer_content a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px 0 10px;
}

div.footer_content a:hover {
    color: #ffc000;
}

div.footer_content p {
    color: #ffffff;
}

