div.group:before,
div.group:after {
    content: "";
    display: table;
}

div.group:after {
    clear: both;
}

div.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

a {
    text-decoration: none;
    color: #ffffff;
    outline: none;
}

a:hover {
    color: #ffc000;
}

.dn {
    display: none;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.cb {
    clear: both;
}

body {
    background-image: url("../images/background.png");
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#black_stripe {
    background-color: #000000;
    height: 28px;
    width: 100%;
}

div.content {
    margin: 0 auto;
    width: 981px;
}

ul.links {
    padding-top: 4px;
}

ul.links li {
    display: inline;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    margin-right: 34px;
}

div.white_stripe {
    width: 100%;
    background-color: #ffffff;
}

div#header {
    background-image: url("../images/horse.png");
    background-repeat: no-repeat;
    height: 145px;
    position: relative;
}

div#header h1 {
    font-size: 37px;
    color: #3793c7;
    font-weight: bold;
    position: absolute;
    left: 207px;
    top: 44px;
}

div#header h6 {
    color: #3793c7;
    font-size: 16px;
    position: absolute;
    left: 414px;
    top: 92px;
}

a#follow_me {
    position: absolute;
    left: 711px;
    top: 92px;
    display: inline-block;
}

a#button_quote {
    background-color: #1092e6;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    position: absolute;
    width: 138px;
    height: 25px;
    top: 46px;
    left: 817px;
    padding-top: 8px;
}

a#button_facebook {
    background-image: url("../images/facebook.png");
    background-repeat: no-repeat;
    height: 36px;
    width: 119px;
    display: inline-block;
    position: absolute;
    left: 837px;
    top: 88px;
}

div#menu {
    height: 50px;
    width: 981px;
    border-bottom: 1px solid;
    border-color: #ffffff;
    padding-bottom: 5px;
}

div#menu ul {
    padding-top: 13px;
}

div#menu ul li {
    display: inline-block;
    color: #ffffff;
    background-image: url("../images/punktom.gif");
    background-repeat: no-repeat;
    padding-left: 31px;
    line-height: 30px;
    padding-right: 12px;
    font-size: 15px;
}

div#menu ul li:first-child {
    background-image: none;
    margin-left: -28px;
}

div#menu ul li:last-child {
    padding-right: 0;
}

div#box {
    margin-top: 10px;
}

div.offer {
    width: 245px;
    float: left;
    background-image: url("../images/box_background.png");
    background-repeat: repeat-y;
}

div.offer img {
    display: none;
}

div.offer a:first-child {
    outline: none;
    display: block;
    height: 365px;
}

h2 {
    color: #ffc000;
    font-size: 23px;
    margin: 5px 0 0 13px;
    line-height: 27px;
}

h3 {
    color: #ffc000;
    font-size: 18px;
    margin: 43px 0 0 7px;
}

h4 {
    color: #ffffff;
    font-size: 11px;
    line-height: 20px;
    margin: 0 0 10px 13px;
}

div.small_box {
    margin: 30px 8px 0 0;
    float: left;
    color: #ffc000;
    font-size: 19px;
    text-align: center;
}

div.small_box  h2 {
    font-size: 19px;
}

div.half_page_gray_box {
    width: 485px;
    background-color: #464646;
    margin-top: 19px;
    overflow: hidden;
}

div.box_fixed_height {
    height: 380px;
}

div.half_page_gray_box a {
    color: #ffc000;
}

div.half_page_gray_box h2 {
    color: #ffc000;
    font-size: 23px;
    margin: 35px 0 0 13px;
}

div.half_page_gray_box hr {
    color: #ffffff;
    width: 95%;
    text-align: center;
}

div.half_page_gray_box span {
    color: #ffc000;
    font-size: 18px;
    float: right;
    margin: 0 15px 7px 0;
}

div.half_page_gray_box span.link a {
    font-size: 10px;
    color: #ffc000;
}

div.half_page_gray_box p {
    color: #ffffff;
    line-height: 24px;
    margin: 7px 15px 0 7px;
    text-align: justify;
    font-size: 14px;
}

div.half_page_gray_box img {
    float: left;
    margin: 7px 10px 0 9px;
}

div.half_page_gray_box p.project {
    margin-top: 26px;

}

div.space {
    margin-top: 50px;
    padding-bottom: 15px;
}

ul.list {
    margin: 10px 0 0 65px;
    font-size: 15px;
}

ul.list li a {
    color: #383736;
    text-decoration: none;
    line-height: 27px;
}

ul.list li a:hover {
    color: #ffc000;
}

img.spliter {
    margin-left: 21px;
}

div#examples div {
    width: 259px;
    min-height: 190px;
    float: left;
    padding-top: 21px;
    background-image: url("../images/spliter.png");
    background-repeat: no-repeat;
    background-position: 0 20px;
}

div#examples h2 {
    text-align: center;
    font-size: 19px;
}

div#examples div:first-child {
    background: none;
    margin-left: -55px;
}

div#footer {
    margin: 0 auto;
    width: 748px;
    height: 50px;
    padding-top: 20px;
}

div#footer p {
    color: #ffffff;
}

div#template_source {
    margin-right: 97px;
    margin-top: -18px;
}

div#template_source p {
    color: #ffc000;
}

div#template_source a {
    color: #ffc000;
    text-decoration: underline;
}

div#appear_box {
    position: fixed;
    top: 150px;
    left: 70px;
    height: 90px;
    width: 440px;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    border-radius: 10px 10px 10px 10px;
}

div#appear_box img {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
p#show_box {
    margin-top: 25px;
    margin-left: 78px;
    font-family: 'Simonetta', cursive;
    line-height: 20px;
    opacity: 0.1;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
